/*  COLORS
========================================= */

$blueDot: #212121;

/*  MIXINS
========================================= */

@mixin animation($animation) {
  -webkit-animation: #{$animation};
  -moz-animation: #{$animation};
  -o-animation: #{$animation};
  animation: #{$animation};
}

@mixin animation-delay($animation-delay) {
  -webkit-transition-delay: #{$animation-delay};
  -moz-transition-delay: #{$animation-delay};
  -o-transition-delay: #{$animation-delay};
  transition-delay: #{$animation-delay};
}

@mixin keyframes($keyframes) {
  @-webkit-keyframes #{$keyframes} { @content; }
  @-moz-keyframes #{$keyframes} { @content; }
  @-o-keyframes #{$keyframes} { @content; }
  @keyframes #{$keyframes} { @content; }
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

@mixin transition($transition...) {
  -webkit-transition: #{$transition};
  -moz-transition: #{$transition};
  -o-transition: #{$transition};
  transition: #{$transition};
}

@mixin transition-delay($transition-delay) {
  -webkit-transition-delay: #{$transition-delay};
  -moz-transition-delay: #{$transition-delay};
  -o-transition-delay: #{$transition-delay};
  transition-delay: #{$transition-delay};
}


/*  MENU ICON
========================================= */

.menu-icon {
  position: absolute;
  top: 115px;
  left: 30px;
  cursor: pointer;
  @include transform(translate(-50%, -50%));
  width: 35px;
  height: 35px;
  z-index: 3;

  @media only screen and (min-width: 768px) {
    display: none;
  }

  .dot {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 36px;
    height: 6px;
    background: $blueDot;
    border-radius: 3px;
    @include transform(translate(-50%, -50%));
    @include transition(margin .4s ease .4s, width .4s ease);

    &:nth-of-type(1) {
      margin-top: -10px;
      margin-left: 0px;
      @include transform(translate(-50%, -50%) rotate(0deg));
    }

    &:nth-of-type(3) {
      margin-top: 10px;
      //margin-left: 12px;
      @include transform(translate(-50%, -50%) rotate(-0deg));
    }

  }

  &.clicked {
    .dot {
      @include transition(margin .4s ease, width .4s ease .4s);
      //margin-left: 0;
      //margin-top: 0;
      background: #4c84eb !important;

      &:nth-of-type(1) {
        //width: 36px;
        //@include transform(translate(-50%, -50%) rotateZ(45deg));
      }

      &:nth-of-type(2) {
        //width: 6px;
        @include transition(width .2s ease);
      }

      &:nth-of-type(3) {
        //width: 36px;
        //@include transform(translate(-50%, -50%) rotateZ(-45deg));
      }
    }
  }
}