// Media width
$phone-small: 320px;
$phone-little:380px;
$telephone:550px;
$phone-medium:740px;
$phone: 812px;
$tablet: 890px;
$desktop: 1170px;


//Fonts
$proximaRegular: 'Conv_ProximaNova-Reg', sans-serif;
$proximaBold: 'Conv_ProximaNova-Bold', sans-serif;

//Colors

$colorBody: #212121;
$white: #ffffff;
$green: #8bb922;
$red: #b90000;
$blue: #4c84eb;

//Background
$bacBody: #f9fafb;
$bacFooter: #eff1f3;
$bacFooterBot: rgba(0,0,0,.05);
