
<div class="footer-top">
    <div class="container">

        <div class="footer-top--wr">

            <div class="logo"><a href="/"><img src="img/logo.png" alt="logo"></a></div>

            <div>
                <ul class="footer-list">
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="about.html">Term of Use</a></li>
                    <li><a href="about.html">ALM Policy</a></li>
                    <li><a href="about.html">Confidentiality and security</a></li>
                    <li><a href="about.html">General agreement</a></li>
                </ul>
            </div>

            <div>
                <ul class="footer-list">
                    <li><a href="about.html">Servicing Terms & Conditions</a></li>
                    <li><a href="about.html">Data protection policy</a></li>
                    <li><a href="about.html">Cookie</a></li>
                    <li><a href="about.html">Fees & Limits</a></li>
                    <li><a href="about.html">Frequently Asked Questions</a></li>
                    <li><a href="about.html">Contact</a></li>
                </ul>
            </div>

            <div>

                <ul class="languages">
                    <li><a href="/">English</a></li>
                    <li><a href="/">Русский</a></li>
                </ul>

                //= ../social.html

            </div>

        </div>

    </div>
</div>