
<div class="footer-bot">
    <div class="container">

        <ul class="stores">
            <li><a href="/"><img src="img/btn-appstore.png" alt="appstore"></a></li>
            <li><a href="/"><img src="img/logo-google-play-vetor.png" alt="google-play"></a></li>
            <li><a href="/"><img src="img/wind-store.png" alt="wind-store"></a></li>
        </ul>

        <ul class="pay-system">
            <li><span><img src="img/visa-pay-logo.svg" alt="visa-pay"></span></li>
            <li><span><img src="img/mastercard.svg" alt="mastercard"></span></li>
        </ul>

    </div>
</div>