
<div class="footer-top">
    <div class="container">

        <div class="footer-top--wr">

            <div class="logo"><a href="/"><img src="img/logo.png" alt="logo"></a></div>

            <div>
                <ul class="footer-list">
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="about.html">Our rates</a></li>
                    <li><a href="about.html">Contact us </a></li>
                </ul>
            </div>

            <div>
                <ul class="footer-list">
                    <li><a href="about.html">User agreement</a></li>
                    <li><a href="about.html">Privacy Policy</a></li>
                    <li><a href="about.html">Acceptable use</a></li>
                    <li><a href="about.html">FATCA compliance</a></li>
                    <li><a href="about.html">AML Policy</a></li>
                </ul>
            </div>

            <div>

                <ul class="languages">
                    <li><a href="/">English</a></li>
                </ul>

                //= ../social.html

            </div>

        </div>

        <p class="text-center">STEX is a trading name of Logifix OU. United States IRS FATCA GIIN Х72ХХX.99999.ХХ.268.
            <span>Virtual currency wallet service license FRK000293. Virtual currency exchange service license FVR000352.</span>
        </p>

    </div>
</div>