
.cripto-list {
  padding-top: 10px;

    ul {
      @include flexBox(flex-start, row, center, nowrap);
      width: auto;
      margin: 0 -.625rem;

    }

    li {
      margin: 1.25rem .625rem 0;


    }

  .slick-track, li {
    @include respond-to(phone) {
      -webkit-transition: 0s all;
      -moz-transition: 0s all;
      -ms-transition: 0s all;
      -o-transition: 0s all;
      transition: 0s all;
    }
  }
}