.footer {

  width: 100%;
  background-color: $bacFooter;

  flex: 0 auto;




  .logo {
    flex: none;

    @include respond-to(phone-medium) {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      min-width: 100%;
      text-align: center;
    }

    a {
        opacity: 1;

      @include respond-to(phone-medium) {
        width: 120px;
      }
    }
  }

  &-top {
    padding: 3.125rem 0 0;

      &--wr {
        margin: 0 -1.875rem;
        @include flexBox(space-between, row, flex-start, wrap);

        @include respond-to(phone-medium) {
          margin: 0;
        }

        >div {
          margin: .5rem 1.875rem;

          @include respond-to(phone-medium) {
            margin-left: auto;
            margin-right: auto;
            min-width: 32%;
          }
        }
      }

    a {
      font-size: 15px;
      line-height: 1.6;
      color: $colorBody;
      opacity: .5;

      &:hover {
        opacity: 1;
      }
    }

    p {
      color: $colorBody;
      opacity: .5;
      margin-top: 15px;
      font-size: .7rem;

        span {
          display: inline-block;
          width: 100%;
        }
    }
  }



  &-bot {
    background-color: $bacFooterBot;
    padding-top: 20px;

    .container, ul {
      @include flexBox(space-between, row, center, wrap);
    }

    p {
      color: $colorBody;
      opacity: .5;
      margin-bottom: 6px;
      align-self: flex-end;

      @include respond-to(phone-medium) {
        margin: auto;
      }
    }


    ul {
      width: auto;
      margin: 0 -13px;
    }

    li {
      margin: 5px 13px;
      max-width: 128px;
    }

    img {
      width: 100%;
    }

    a {
      height: 50px;
    }

    span, a {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

}

.pay-system {
  img {
    width: 75px;
  }

  li {
    &:last-child {
      width: 59px;
    }
  }
}

.stores {
  span {
    color: $colorBody;
    opacity: .5;
  }
}
