/* Slider */
.slick-slider
{
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
  padding-bottom: 6px;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;

  @media only screen and (min-width: 601px) {
    width: 100% !important;
    display: flex;
    align-items: center;
  }
}
.slick-track:before,
.slick-track:after
{
  display: table;

  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

.slick-next, .slick-prev {
  position: absolute;
  font-size: 0;
  margin-top: 5px;
  background: none;
  border: none;

    &:before {
      content: "\e901";
      color: blue;
      width: 25px;
      height: 25px;
      font-size: 20px;
      font-family: icomoon;
      speak: none;
      font-style: normal;
      font-weight: 400;
    }
}

.slick-prev {
  left: 0;

  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.slick-next {
  right: 0;
}

.slick-initialized .slick-slide {

  @media only screen and (min-width: 601px) {
    min-width: 13.75rem;
  }

}
@include respond-to(telephone) {

  li.slick-active {
    .btn {
      background: #4c84eb;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
      color: #ffffff;

        [class^=icon-] {
          color: #ffffff;

        }

        .path2:before {
          color: #4c84eb;
        }
    }
  }

}
