
.tooltip {

  position: relative;
  display: inline-block;
  margin: 0 0 0 15px;

    &:hover {

      .tooltiptext {
        visibility: visible;
        opacity: 1;
        width: 220px;

          &--bg {
            width: 290px;
          }
      }

    }

}

.icon-information {

  display: inline-block;
  width: auto;
  color: #aeb0b4;
  cursor: help;
}

.tooltiptext {
  visibility: hidden;
  width: 220px;
  background-color: #555;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;

  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);

    @include respond-to(phone-medium) {
      left: 0;
      -webkit-transform: translateX(-90%);
      -moz-transform: translateX(-90%);
      -ms-transform: translateX(-90%);
      -o-transform: translateX(-90%);
      transform: translateX(-90%);
    }
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;

    @include respond-to(phone-medium) {
      left: 93%;
    }

}