
<div class="course-header">
    <div class="container">
        <ul class="course-header--list">
            <li><span>BCH/EUR</span>&nbsp;<span>1,349.52</span></li>
            <li><span>BTC/EUR</span>&nbsp;<span>16,429.15</span></li>
            <li><span>LTC/EUR</span>&nbsp;<span>142.52</span></li>
            <li><span>DASH/EUR</span>&nbsp;<span>357.92</span></li>
            <li><span>XRP/EUR</span>&nbsp;<span>0.8332</span></li>
            <li><span>BCH/EUR</span>&nbsp;<span>530.06</span></li>
            <li><span>BTC/USD</span>&nbsp;<span>6,452.93</span></li>
            <li><span>ETH/USD</span>&nbsp;<span>257.09</span></li>
        </ul>
    </div>
</div>