
//= course-header.html

<header class="header">

    <div class="container">

        <div class="logo"><a href="/"><img src="img/logo.png" alt="logo"></a></div>

        <div class="sign">
            <ul>
                <li>
                    <button class="btn btn-sign sigh-in">Sign in</button>
                </li>
                <li>
                    <button class="btn btn-sign sigh-up">Sign up</button>
                </li>
            </ul>
        </div>

        <div class="profile" style="display: none;">
            <div class="profile-item">
                <p class="name"><b>Maxim Griffin</b><span class="icon-down-arrow ar"></span></p>
                <p class="id">235246346</p>
            </div>

            <div class="profile-item-list animated fadeInDown">
                <div class="profile-item-list--name">
                    <p class="name"><b>Maxim Griffin</b></p>
                    <p class="id">235246346</p>
                </div>
                <ul>
                    <li><p>Account status: <span class="green status"><i class="icon-check-mark"></i>Verified</span></p></li>
                    <li><a href="" class="btn-personal"><span class="icon-avatar"></span> Personal</a></li>
                    <li><a href="" class="btn-security"><span class="icon-shield-2"></span> Security</a></li>
                    <li><a href="" class="btn-merchant"><span class="icon-list-1"></span> Merchant</a></li>
                    <li><button class="btn btn-gray exit-profile">Log out</button></li>
                </ul>
            </div>

        </div>

    </div>

</header>

