
.tabs__buy-sell {
  display: inline-block;
  width: auto;


  font-size: 0;

    &--wr {
      font-size: 0;
    }

    li {
      font-size: 1.125rem;
      padding: 21px 45px;
      overflow: hidden;

      border: 1px solid #dddfe2;
      border-bottom: none;

      @include respond-to(phone-medium) {
        padding: 15px 12px;
      }

      &:first-child {
        border-top-left-radius: 20px;
      }

      &:last-child {
        border-top-right-radius: 20px;
      }

      &.active, &:hover {
        border-color: $primary;
      }

    }

    p {
      margin-bottom: 0;
      line-height: 1;

      -webkit-transition: 0s all;
      -moz-transition: 0s all;
      -ms-transition: 0s all;
      -o-transition: 0s all;
      transition: 0s all;
    }

}

.tabs__content {

  &-buy-sell {
    border: 1px solid #dddfe2;
    padding: 2.1875rem 1.875rem;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

    border-top-left-radius: 0;

    display: none;

    @include respond-to(phone-medium) {
      padding: 1.1875rem 1rem;
    }

    &.active {
      display: block;
    }


    .form-bot {
      margin-top: 1.875rem;
    }

    &__sub {
      display: none;

      &.active {
        display: block;
      }
      .title {
        font-size: 1.25rem;
        color: #212121;
      }

      &--top, &--list {
        @include flexBox(center, row, center, nowrap);
        text-align: center;
        width: auto;
      }

      &--top {
        margin-bottom: 1.875rem;

          .btn {
            border-radius: 20px;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
            padding: 24px 25px;
            min-width: 12rem;
            margin: 0 20px;

              @media only screen and (max-width: 600px){
                padding: 10px;
                min-width: 5rem;
                margin: 0 10px;
              }
          }

        p {
          margin: 0;
          font-size: 1.125rem;
          transition: all 0s;
          line-height: normal;
        }
      }

      .form-main .input__item input {
        padding-left: 140px;
      }

      .info-l {
        position: absolute;
        right: auto;
        bottom: 1px;
        background-color: #f7f8f9;
        color: #808386;
        width: 135px;
        height: 94.5%;
        white-space: nowrap;
        margin: 0;
        padding: 10px 5px;
        font-size: .95rem;
        text-transform: uppercase;
        border-right: 1px solid #dddfe2;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        left: 1px;
      }

    }
  }

}