
.personal {

  &-wr {

    //display: block !important;

    .title {
      font-size: 1.25rem;
      color: #212121;
      @include flexBox(flex-start, row, center, nowrap);

      span {
        color: #4c84eb;
        font-size: 1.65rem;
        margin-right: 15px;
      }

      &-sub {
        margin-bottom: 15px;
      }
    }

    label {
      width: 100%;
      color: #808386;
    }

    label, .form-main__item {
      @include flexBox(flex-start, row, center, wrap);

      input[type="checkbox"] {
        width: 15px;
        height: 15px;
        margin-right: 10px;
      }
    }

    .form-main__item--group {
      margin: 0 -8px;

      input[type=text] {
        padding-left: 10px;
      }
    }

    .form-main__item {
      margin: 8px;

      &.specify, &.specify--uss-resident, &.specify--politic, &.specify--partner {
        display: none;
        max-width: 15rem;
        margin-bottom: 20px;
      }

      &.communicate {
        margin-top: 20px;
        max-width: 32.75rem;
        margin-left: 0;
        justify-content: space-between;
      }

      span {
        width: 100%;
        display: inline-block;
        color: #808386;

          &.select-file {
            width: auto;
          }

          &.tooltiptext {
            color: #ffffff;
          }

          &.select-file {
            color: #4c84eb;
          }
      }

    }

    .form-main__item {
      max-width: 100%;
    }

    .title--sm {
      font-size: 1.25rem;
      margin-bottom: .45rem;
      margin-top: 1.25rem;
    }

    .display-flex {

      .tooltiptext {
        margin-left: 0;
      }
    }

    .select-file {
      margin: 0;
      line-height: 1.2;
    }

    .file {
      width: 100%;
      @include flexBox(space-between, row, center, nowrap);

        input {
          line-height: 1.1;
          padding: 8px 10px;
        }

      &-personal {
        max-width: 30.75rem;
        width: 100%;
        margin-left: 0;

        .display-flex {
          width: 100%;
        }
      }
    }

  }

  &-address {

    .title--sm {
      margin-top: 0.25rem;
      margin-bottom: 1.45rem;
    }

    &-info_list {
      li {
        margin-top: 15px;
      }
    }

    &__btn {
      margin-top: 2.2rem;

      .btn {
        font-size: 1.125rem;
        padding: 15px 45px;
      }
    }

  }

}

.tabs-per {
  @include flexBox(flex-start, row, center, nowrap);
  width: auto;
  margin: 0 -15px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: 6px;
    left: 15px;
    width: 97%;
    height: 1px;
    background: #dddfe2;
    z-index: 1;
  }

  li {
    margin: 5px 15px;

    p {
      padding: 5px 0;
      margin: 0;
      line-height: 1;
      color: $colorBody;
      border-bottom: 3px solid transparent;
      cursor: pointer;
      position: relative;
      z-index: 2;
    }

    &.active-per {
      p {
        border-color: #4c84eb;
      }
    }

  }
}

.per-tab {
  display: none;

  &.active-per-tab {
    display: block;
  }

  .form-main__item--group {
    align-items: baseline;
  }
}

.main-personal {
  margin-top: 15px;
  color: $colorBody;

  .title-sub {
    font-size: 1.25rem;
  }

}

