
.sidebar {

  width: 235px;
  flex:none;

  overflow: hidden;

    &-hide {
      width: 35px;

        ul {
          position: relative;
          left: -100%;
          opacity: 0;
        }
      
      .opening-sidebar {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }

    @include respond-to(phone) {
      width: 100%;

      margin-bottom: 0;
      @include flexBox(center, row, center, nowrap);
      margin-right: 0 !important;
      margin-left: 0 !important;
    }

    @include respond-to(phone-medium) {
      position: absolute;
      z-index: 10;
      background: #fff;
      flex-wrap: wrap;
      top: -145px;
      margin: 0 !important;
      width: 80%;
      max-width: 20rem;
      left: -100%;
    }

    @include respond-to(phone-little) {
      top: -150px;
    }

    @media only screen and (max-width: 340px) {
      top: -175px;
    }




  >p {
    text-align: right;
    padding-right: 0 !important;

    @include respond-to(phone) {
      display: none;
      /*flex: none;
      margin-right: 10px !important;
      padding: 10px 0 10px !important;*/

    }

    a {
        display: inline-block;
        font-size: 1.2rem;
      -webkit-transition: .3s all;
      -moz-transition: .3s all;
      -ms-transition: .3s all;
      -o-transition: .3s all;
      transition: .3s all;

          &:hover {
            color: #000;
          }
      }
  }

  p {
    margin: 0;
    padding: 18px 10px;

  }

  ul {
    width: auto;

    -webkit-transition: .25s all;
    -moz-transition: .25s all;
    -ms-transition: .25s all;
    -o-transition: .25s all;
    transition: .25s all;

      @include respond-to(phone) {
        width: 100%;
        @include flexBox(space-between, row, center, nowrap);
        border-top: 1px solid #dddfe2;
        border-bottom: 1px solid #dddfe2;
      }

      @include respond-to(phone-medium) {
        flex-wrap: wrap;
      }
  }

  li {
    border-bottom: 1px solid #dddfe2;

      @include respond-to(phone) {
        height: 100%;
        border-bottom: none;
        border-right: 1px solid #dddfe2;
        flex: 1 0 auto;
      }

      @include respond-to(phone-medium) {
        width: 100%;
      }


    &:first-child {
        border-top: 1px solid #dddfe2;

        @include respond-to(phone) {
          border-top: none;
          border-left: 1px solid #dddfe2;
        }

        @include respond-to(phone-medium) {
          border-left: none;
        }
    }
    
    p {
      cursor: pointer;
      @include flexBox(flex-start, row, center, nowrap);

        @include respond-to(phone) {
          line-height: 1.2;
          height: 100%;
          font-size: .85rem;
          padding: 10px 10px;
        }

      >span {
        margin-right: 10px;
      }

        &:hover {
          color: $colorBody;
          
            span {
              color: #4c84eb;
            }
        }
    }

    span {
      font-size: 1.35rem;

    }

  }

  &-mobile {
    left: -12px;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -ms-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
  }

}

.tab-content{
  display: none;
  padding: 15px;
}

.tab-content.current{
  display: inherit;
}

.tab-link.current {
  p {
    color: $colorBody;
    background: #f9fafb;

    span {
      color: #4c84eb;
    }
  }
}