
.sidebar {

  width: 235px;
  flex:none;

    @include respond-to(phone) {
      width: 100%;

      margin-bottom: 0;
      @include flexBox(center, row, center, nowrap);
      margin-right: 0 !important;
      margin-left: 0 !important;
    }

  >p {
    text-align: right;
    padding-right: 0 !important;

    @include respond-to(phone) {
      flex: none;
      margin-right: 10px !important;
      padding: 10px 0 10px !important;

    }

    a {
        font-size: 1.2rem;

          &:hover {
            color: #000;
          }
      }
  }

  p {
    margin: 0;
    padding: 18px 10px;

  }

  ul {
    width: auto;

      @include respond-to(phone) {
        width: 100%;
        @include flexBox(space-between, row, center, nowrap);
        border-top: 1px solid #dddfe2;
        border-bottom: 1px solid #dddfe2;
      }
  }

  li {
    border-bottom: 1px solid #dddfe2;

      @include respond-to(phone) {
        height: 100%;
        border-bottom: none;
        border-right: 1px solid #dddfe2;
        flex: 1 0 auto;
      }


    &:first-child {
        border-top: 1px solid #dddfe2;

        @include respond-to(phone) {
          border-top: none;
          border-left: 1px solid #dddfe2;
        }
      }
    
    p {
      cursor: pointer;
      @include flexBox(flex-start, row, center, nowrap);

        @include respond-to(phone) {
          line-height: 1.2;
          height: 100%;
          font-size: .85rem;
          padding: 10px 10px;
        }

      >span {
        margin-right: 10px;
      }

        &:hover {
          color: $colorBody;
          
            span {
              color: #4c84eb;
            }
        }
    }

    span {
      font-size: 1.35rem;

    }

  }

}

.tab-content{
  display: none;
  padding: 15px;
}

.tab-content.current{
  display: inherit;
}

.tab-link.current {
  p {
    color: $colorBody;
    background: #f9fafb;

    span {
      color: #4c84eb;
    }
  }
}