
<div class="cripto-list">
    <ul>
        <li>
            <button class="btn btn-cripto active"><span class="icon-if_Bitcoin_272914"><span class="path1"></span><span class="path2"></span></span> Bitcoin</button>
        </li>
        <li>
            <button class="btn btn-cripto"><span class="icon-if_Bitcoin_272914"><span class="path1"></span><span class="path2"></span></span> Bitcoin Cash</button>
        </li>
        <li>
            <button class="btn btn-cripto"><span class="icon-if_ETH-alt_1175229"></span> Ethereum</button>
        </li>
    </ul>
</div>