
<div class="popup popup-reset-password">

    <div class="popup-close-block"></div>

    <div class="popup-block animated fadeInUp">

        <h4 class="title-sub">Password reset - Step 1 <span class="close-popup"><img src="img/close.svg" alt="close"></span></h4>

        <div class="popup-block-form">
            <!--<form>-->

            <div>
                <label>
                    <span>Enter e-mail</span>

                    <input type="email" placeholder="email">
                </label>
            </div>

            <div class="form-bot">
                <button class="btn btn-primary goToProfile">Reset password</button>

                <p>
                    <a href="/">Forgot your password?</a>
                    or
                    <a href="/" class="sigh-up">Sign up</a>
                </p>
            </div>

            <!--</form>-->

        </div>

        <div class="popup-block--already text-center">
            <p>Already registered?</p>

            <button class="btn btn-primary">log in</button>
        </div>

    </div>

</div>