
<div class="popup popup-up">

    <div class="popup-close-block"></div>

    <div class="popup-block animated fadeInUp">

        <h4 class="title-sub">Sign up <span class="close-popup"><img src="img/close.svg" alt="close"></span></h4>

        <div class="popup-block-form">
            <form>

                <div>
                    <label>
                        <span>Your name</span>

                        <input type="text" placeholder="name">
                    </label>
                </div>

                <div>
                    <label>
                        <span>Your Last name</span>

                        <input type="text" placeholder="last name">
                    </label>
                </div>

                <div>
                    <label>
                        <span>Your mobile</span>

                        <input type="tel" placeholder="your phone">
                    </label>
                </div>

                <div>
                    <label>
                        <span>Your password</span>

                        <input type="password" placeholder="******">
                    </label>
                </div>

                <div>
                    <label>
                        <span>Re-enter password</span>

                        <input type="password" placeholder="******">
                    </label>
                </div>

                <div class="form-bot">
                    <button class="btn btn-primary">Sign up</button>

                    <p>
                        By registering I accept
                        <a href="/">User agreement</a>
                        and
                        <a href="/">Privacy policy</a>
                    </p>
                </div>

            </form>
        </div>
    </div>

</div>