
<div class="popup popup-reset-password-2">

    <div class="popup-close-block"></div>

    <div class="popup-block animated fadeInUp">

        <h4 class="title-sub">Password reset - Step 2 <span class="close-popup"><img src="img/close.svg" alt="close"></span></h4>

        <div class="popup-block-form">
            <!--<form>-->

            <div>
                <label>
                    <span>Your password</span>

                    <input type="password" placeholder="password">
                </label>
            </div>

            <div>
                <label>
                    <span>Re-enter password</span>

                    <input type="password" placeholder="password">
                </label>
            </div>

            <div class="form-bot">
                <button class="btn btn-primary goToProfile">Reset password</button>
            </div>

            <!--</form>-->

        </div>

    </div>

</div>