
<div class="popup popup-in">

    <div class="popup-close-block"></div>

    <div class="popup-block animated fadeInUp">

        <h4 class="title-sub">Sign in <span class="close-popup"><img src="img/close.svg" alt="close"></span></h4>

        <div class="popup-block-form">
            <!--<form>-->

                <div>
                    <label>
                        <span>Enter your e-mail adress</span>

                        <input type="email" placeholder="email">
                    </label>
                </div>

                <div>
                    <label>
                        <span>Enter password</span>

                        <input type="password" placeholder="******">
                    </label>
                </div>

                <div class="form-bot">
                    <button class="btn btn-primary goToProfile">Sign in</button>

                    <p>
                        <a href="/">Forgot your password?</a>
                        or
                        <a href="/" class="sigh-up">Sign up</a>
                    </p>
                </div>

            <!--</form>-->
        </div>
    </div>

</div>