
<div id="account-statement" class="tab-content account-statement">

    <div class="account-statement--top">

        <div class="form-main">

            <form>

                <div class="form-main__item">

                    <div class="input__item">
                        <input type="text" placeholder="22.08.2018">
                    </div>

                </div>

                <div class="form-main__item">

                    <div class="input__item">
                        <input type="text" placeholder="22.08.2018">
                    </div>

                </div>

                <div class="form-bot">
                    <button class="btn btn-primary" type="submit">Show transactions</button>
                </div>

            </form>

        </div>


        <div>
            <button class="btn btn-gray">Export to PDF</button>
        </div>

    </div>

    <div class="table table__account-statement" id="table__account-statement">
        <table>
            <thead>
            <tr>
                <th><span>Transaction</span></th>
                <th><span>date</span></th>
                <th><span>BTC amount</span></th>
                <th><span>description</span></th>
                <th><span>status</span></th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>You sell</td>
                <td>09.08.2018</td>
                <td>1.000000000</td>
                <td>(1 BTC = 6223Ю1423432 USD), Currency exchange</td>
                <td><span class="color green">Completed</span></td>
            </tr>
            <tr>
                <td>You sell</td>
                <td>09.08.2018</td>
                <td>1.000000000</td>
                <td>eMoney - Bitcoin</td>
                <td><span class="color green">Completed</span></td>
            </tr>
            <tr>
                <td>You sell</td>
                <td>09.08.2018</td>
                <td>1.000000000</td>
                <td>(1 BTC = 6223Ю1423432 USD), Currency exchange</td>
                <td><span class="color green">Completed</span></td>
            </tr>
            <tr>
                <td>You sell</td>
                <td>09.08.2018</td>
                <td>1.000000000</td>
                <td>eMoney - Bitcoin</td>
                <td><span class="color green">Completed</span></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>