
<div id="address-bitcoin" class="tab-content address-bitcoin">

    <h5 class="title">
        <span class="icon-if_Bitcoin_272914"><span class="path1"></span><span class="path2"></span></span>
        Bitcoin
    </h5>

    <div class="color-info">
        <p>Attantion! Dear Customers, plase take into consideration, when sending Bitcoin you have to
            indicate receivers Bitcoin address and do not mix it with Bitcoin Cash address.</p>
    </div>

    <div class="form-main">

        <!--<form>-->

            <div class="form-main__item">
                <label>
                    <span>The address of my bitcoin</span>


                    <div class="input__item">
                        <input type="text">

                    </div>

                </label>
                <span class="icon-copy-file"></span>
            </div>

            <div class="form-bot">
                <button class="btn btn-primary qr-btn" type="submit">QR code</button>
            </div>

        <!--</form>-->

    </div>

</div>