
<div id="buy-sell" class="tab-content current tab-content-buy-sell">


    <div class="tabs__buy-sell--wr">

        <ul class="tabs__buy-sell">
            <li class="btn active" data-name="buy"><p><strong>Buy</strong> 17,381.17 $</p></li>
            <li class="btn" data-name="sell"><p><strong>Sell</strong> 17,381.17 $</p></li>
        </ul>

    </div>

    <div class="tabs__content-buy-sell active">

        <div class="form-main">

            <div class="form-main__item--cap">
                <!--<p><span>Available balance:</span> BTC 0.00000</p>-->
            </div>

            <!--<form>-->

                <div class="form-main__item">
                    <label>
                        <span>You will receive</span>


                        <div class="input__item">
                            <input type="text">
                            <span class="crip">BTC</span>
                        </div>

                    </label>
                    <span class="error">Enter the amount</span>
                </div>

                <div class="form-main__item">
                    <label>

                        <span>You will pay</span>

                        <div class="input__item">
                            <input type="text">
                            <span class="crip">
                                <select>
                                    <option>USD</option>
                                    <option>EUR</option>
                                    <option>GBP</option>
                                </select>

                                <span class="icon-down-arrow"></span>
                            </span>
                        </div>

                    </label>
                </div>

                <div class="form-main__item">
                    <span>How do you want to pay?</span>
                    <div class="form-main__item--group">

                        <!--<input type="radio">-->

                        <div class="input__item">

                            <span class="cur">USD</span>

                            <input type="text" placeholder="0.00">
                            <span class="crip">
                                <select>
                                    <option>Visa</option>
                                    <option>M.Card</option>
                                    <option>P.Pal</option>
                                </select>

                                <span class="icon-down-arrow"></span>
                            </span>
                        </div>

                    </div>
                </div>

                <div class="form-bot">
                    <button class="btn btn-primary btn-buy-sell__buy" type="submit">Buy</button>
                </div>

            <!--</form>-->

           <!-- <form>

                <div class="form-main__item">
                    <label>
                        <span>Sender</span>

                        <input type="text" placeholder="Enter request receiver’s email or Bitcoin address">
                    </label>
                </div>

                <div class="form-main__item">
                    <label>
                        <span>Amount</span>

                        <div class="input__item">
                            <input type="text">
                            <span class="crip">BTC</span>
                        </div>

                    </label>
                </div>

                <div class="form-bot">
                    <button class="btn btn-primary" type="submit">Bitcoin request</button>
                </div>

            </form>-->

        </div>

    </div>

    <div class="tabs__content-buy-sell">

        <div class="form-main">

            <div class="form-main__item--cap">
                <p><span>Available balance:</span> BTC 0.00000</p>
            </div>

            <!--<form>-->

                <div class="form-main__item">
                    <label>

                        <span>Enter amount you want to sell</span>

                        <div class="input__item">
                            <input type="text">
                            <span class="crip">BTC</span>
                        </div>

                    </label>
                </div>

                <div class="form-main__item">
                    <label>
                        <span>You will receive</span>

                        <div class="input__item">
                            <input type="text">
                            <span class="crip">
                                <select>
                                    <option>USD</option>
                                    <option>EUR</option>
                                    <option>GBP</option>
                                </select>

                                <span class="icon-down-arrow"></span>
                            </span>
                        </div>

                    </label>
                </div>

                <div class="form-main__item">
                    <span>Were do you want to receive money?</span>
                    <div class="form-main__item--group">

                        <!--<input type="radio">-->

                        <div class="input__item">

                            <span class="cur">USD</span>

                            <input type="text" placeholder="0.00">
                            <span class="crip">
                                <select>
                                    <option>Visa</option>
                                    <option>M.Card</option>
                                    <option>P.Pal</option>
                                </select>

                                <span class="icon-down-arrow"></span>
                            </span>
                        </div>

                    </div>
                </div>

                <div class="form-bot">
                    <button class="btn btn-primary btn-buy-sell__sell" type="submit">Sell</button>
                </div>

            <!--</form>-->

        </div>

    </div>

    <div class="tabs__content-buy-sell__sub tabs__content-buy-sell__sub--buy">

        <h5 class="text-center title">How do you want to pay?</h5>

        <div class="tabs__content-buy-sell__sub--top">

            <ul class="tabs__content-buy-sell__sub--list">
                <li class="btn active"><p>Visa/MC<br/> 5%</p></li>
                <li class="btn"><p>Bank Wire<br/> 3%</p></li>
                <li class="btn"><p>SEPA<br/> 2%</p></li>
            </ul>

        </div>

        <div class="form-main">

            <form>

                <div class="form-main__item">
                    <label>

                        <div class="input__item">
                            <span class="info-l">Amount: </span>
                            <input type="text">
                        </div>

                    </label>
                </div>

                <div class="form-main__item">
                    <label>

                        <div class="input__item">
                            <span class="info-l">Fee: </span>
                            <input type="text">
                        </div>

                    </label>
                </div>

                <div class="form-main__item">
                    <label>

                        <div class="input__item">
                            <span class="info-l">Total Amount: </span>
                            <input type="text">
                        </div>

                    </label>
                </div>

                <div class="form-bot text-center">
                    <button class="btn btn-primary" type="submit">Pay</button>
                </div>

            </form>

        </div>


    </div>

    <div class="tabs__content-buy-sell__sub tabs__content-buy-sell__sub--sell">

        <h5 class="text-center title">Where do you want to get your money?</h5>

        <div class="tabs__content-buy-sell__sub--top">

            <ul class="tabs__content-buy-sell__sub--list">
                <li class="btn active"><p>Visa/MC<br/> 5%</p></li>
                <li class="btn"><p>Bank Wire<br/> 3%</p></li>
                <li class="btn"><p>SEPA<br/> 2%</p></li>
            </ul>

        </div>

        <div class="form-main">

            <!--<form>-->

                <div class="form-main__item">
                    <label>

                        <div class="input__item">
                            <span class="info-l">Amount: </span>
                            <input type="text">
                        </div>

                    </label>
                </div>

                <div class="form-main__item">
                    <label>

                        <div class="input__item">
                            <span class="info-l">Fee: </span>
                            <input type="text">
                        </div>

                    </label>
                </div>

                <div class="form-main__item">
                    <label>

                        <div class="input__item">
                            <span class="info-l">Total Amount: </span>
                            <input type="text">
                        </div>

                    </label>
                </div>

                <div class="form-bot text-center">
                    <button class="btn btn-primary btn-buy-sell__sell" type="submit">Sell</button>
                </div>

            <!--</form>-->

        </div>


    </div>

</div>