
<div class="main-top">

    <div class="main-top-item">
        <ul>
            <li><span>btc 0.00000000</span></li>
            <li><span>bch 0.00000000</span></li>
            <li><span>eth 0.00000000</span></li>
        </ul>

        <div class="main-top-item-select">

            <p>Total balance: <span>0.05</span></p>

            <div class="select">
                <select>
                    <option>USD</option>
                    <option>EUR</option>
                    <option>GBR</option>
                </select>

                <span class="icon-down-arrow"></span>
            </div>

            <a href="/"><span class="icon-refresh"></span></a>

        </div>
    </div>

</div>