

<div id="merchant-block" class="tab-content merchant-wr">

    <h5 class="title">
        <span class="icon-list-1"></span>
        Merchant
    </h5>

    <div class="main-merchant">

        <div class="table table-merchant">

            <table>

                <thead>
                    <tr>
                        <th><span>online store</span></th>
                        <th><span>id</span></th>
                        <th><span>domain</span></th>
                        <th><span>moderation</span></th>
                    </tr>
                </thead>

                <tbody>

                    <tr>
                        <td>
                            Online store
                            <a href="">shop name 1</a>
                        </td>
                        <td>so12341242134</td>
                        <td></td>
                        <td>

                            <div class="display-flex">

                                <button class="btn btn-blueHover"><span class="icon-settings-work-tool"></span></button>
                                <p class="dots-block">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                </p>

                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div class="merchant-add">
            <button class="btn btn-primary">Add store</button>
        </div>

    </div>




</div>