

<div id="personal-block" class="tab-content personal-wr">

    <h5 class="title">
        <span class="icon-avatar"></span>
        Personal information
    </h5>

    <ul class="tabs-per">
        <li class="per-link active-per" data-tab="per-prof"><p>Profile</p></li>
        <li class="per-link" data-tab="per-address"><p>Address</p></li>
    </ul>


    <div class="main-personal">

        <div id="per-log" class="per-tab active-per-tab">

            <div class="form-main">
                <form>
                    <div class="form-main__item--group">
                        <div class="form-main__item">
                            <label>
                                <span>Name</span>

                                <input type="text">

                            </label>
                        </div>
                        <div class="form-main__item">
                            <label>
                                <span>Last name</span>

                                <input type="text">

                            </label>
                        </div>

                    </div>
                    <div class="form-main__item--group">
                        <div class="form-main__item">
                            <label>
                                <span>Personal №</span>

                                <input type="text">

                            </label>

                            <div class="checkbox checkbox-simple">
                                <label>
                                    <input type="checkbox" class="checkbox-input-simple">
                                    <span class="checkbox-sq">I don’t have Personal №</span>
                                </label>
                            </div>

                        </div>

                        <div class="form-main__item">
                            <label>
                                <span>Date of birth</span>

                                <input type="text"  id="datepicker" />

                                <p class="calendar"><img src="img/calendar.svg" alt="calendar"></p>

                            </label>
                        </div>

                    </div>
                    <div class="form-main__item--group">
                        <div class="form-main__item">
                            <label>
                                <span>Place of birth</span>

                                <input type="text">

                            </label>
                        </div>
                        <div class="form-main__item">
                            <label>
                                <span>Occupation</span>

                                <input type="text">

                            </label>
                        </div>

                    </div>

                    <h5 class="title-sub">Identity document</h5>

                    <div class="form-main__item--group">

                        <div class="form-main__item">

                                <span>Document type</span>

                                <div class="input__item select-block">

                                    <select>
                                        <option>Passport</option>
                                        <option>ID auto</option>
                                    </select>

                                    <span class="icon-down-arrow"></span>
                                </div>

                        </div>

                        <div class="form-main__item">

                            <span>Document issuing country</span>

                            <div class="input__item select-block">

                                <select>
                                    <option>England</option>
                                    <option>France</option>
                                    <option>Turkie</option>
                                </select>

                                <span class="icon-down-arrow"></span>
                            </div>

                        </div>


                        <div class="form-main__item">
                            <label>
                                <span>Document issuing date</span>

                                <input type="text"  id="datepicker1" />

                                <p class="calendar"><img src="img/calendar.svg" alt="calendar"></p>

                            </label>
                        </div>

                    </div>
                    <div class="form-main__item--group">

                        <div class="form-main__item">
                            <label>
                                <span>Document №</span>

                                <input type="text">

                            </label>

                        </div>

                        <div class="form-main__item">
                            <label>
                                <span>Issuing Authority</span>

                                <input type="text">

                            </label>

                        </div>

                        <div class="form-main__item">
                            <label>
                                <span>Document expiration date</span>

                                <input type="text"  id="datepicker2" />

                                <p class="calendar"><img src="img/calendar.svg" alt="calendar"></p>

                            </label>
                        </div>

                    </div>


                    <div class="document-block">

                        <ul class="document-list">

                            <li class="document-item document-choose document-submited ">

                                <span class="document-icon">
                                    <span class="icon-passport"></span>
                                </span>

                                <p>
                                    <span class="document-txt">Document with address registration</span>
                                    <span class="document-submited-info">Document submited</span>
                                    <span class="document-reject-txt">Rejected</span>
                                    <span class="document-reject-reason">Rejection reason</span>
                                </p>

                            </li>

                            <li class="document-item document-reject">

                                <span class="document-icon">
                                    <span class="icon-driving-license"></span>
                                </span>

                                <p>
                                    <span class="document-txt">National ID</span>
                                    <span class="document-reject-txt">Rejected</span>
                                    <span class="document-reject-reason">Rejection reason</span>
                                </p>

                            </li>

                            <li class="document-item">

                                <span class="document-icon">
                                    <span class="icon-id-card"></span>
                                </span>

                                <p>
                                    <p class="document-txt">Other
                                        <span class="tooltip">
                                            <span class="icon-information"></span>
                                            <span class="tooltiptext">
                                                DOCUMENT REQUIREMENTS:
                                                - Sharp color image
                                                - Without any hidden data
                                                - Dimensions above 600 x 600 pxs
                                                - Format JPG, JPEG
                                            </span>
                                        </span>
                                    </p>
                                    <span class="document-reject-txt">Rejected</span>
                                    <span class="document-reject-reason">Rejection reason</span>
                                </p>

                            </li>

                        </ul>

                    </div>



                    <h5 class="title-sub">Document scan</h5>

                    <div class="form-main__item file-personal">
                        <label>
                            <span>Attach file</span>

                            <div class="display-flex">

                                <div class="input__item file">
                                    <input type="file">
                                    <span class="select-file">Select file</span>

                                </div>

                                 <div class="tooltip">
                                    <span class="icon-information"></span>
                                    <span class="tooltiptext">
                                        DOCUMENT REQUIREMENTS:
                                        - Sharp color image
                                        - Without any hidden data
                                        - Dimensions above 600 x 600 pxs
                                        - Format JPG, JPEG
                                    </span>
                                </div>

                            </div>


                        </label>

                        <p class="max-size">Maximum file size is 3 MB</p>
                    </div>



                    <div class="form-main__item communicate">

                        <span>Mobile number</span>

                        <div class="communicate__item">

                            <input id="phone" type="tel">
                            <span id="valid-msg" class="hide">Valid</span>
                            <span id="error-msg" class="hide">Invalid number</span>

                        </div>

                        <p class="btn btn-confirm">Confirm</p>
                    </div>



                    <div class="form-main__item communicate">

                        <span>Telegram Username</span>

                        <div class="communicate__item">

                            <input id="telegram" type="tel" placeholder="&#64;">
                            <span id="valid-msg-telegram" class="hide">Valid</span>
                            <span id="error-msg-telegram" class="hide">Invalid telegram</span>

                        </div>

                        <p class="btn btn-confirm">Confirm</p>
                        
                        <div class="communicate__links">
                            <a href="/">What is telegram?</a>
                            <a href="/">Wtah is Telegram Username?</a>
                        </div>
                    </div>

                    <h6 class="title--sm">Tax residency information FATCA purposes</h6>

                    <div class="display-flex">
                        <p>Are you a US citizen, US green-card holder or by any other means US tax resident? </p>
                        <div class="tooltip">
                            <span class="icon-information"></span>
                            <span class="tooltiptext">
                                In order to comply with FATCA regulations, the USA is defined as the USA and its jurisdictions:<br>
                                - Puerto Rico;<br>
                                - US Virgin Islands;<br>
                                - Guam;<br>
                                - North Marin Islands;<br>
                                - American Samoa.
                            </span>
                        </div>
                    </div>

                    <div class="radio radio-simple">

                        <div class="display-flex">
                            <label class="open-specify">
                                <input type="radio" name="radio-choose" class="radio-input-simple">
                                <span class="radio-sq">Yes</span>
                            </label>
                            <label class="close-specify">
                                <input type="radio" name="radio-choose" class="radio-input-simple" checked>
                                <span class="radio-sq">No</span>
                            </label>
                        </div>

                        <div class="form-main__item specify">
                            <label>
                                <span>Please specify:</span>

                                <input type="text">

                            </label>
                        </div>

                    </div>

                </form>
            </div>


        </div>

        <div id="per-device" class="per-tab personal-address">
            <div class="form-main">
                <form>

                    <div class="form-main__item--group">
                        <div class="form-main__item">
                            <label>
                                <span>Address</span>

                                <input type="text">

                            </label>
                        </div>

                    </div>

                    <div class="form-main__item--group">
                        <div class="form-main__item">
                            <label>
                                <span>City/Town</span>

                                <input type="text">

                            </label>

                        </div>

                        <div class="form-main__item">
                            <label>
                                <span>Region/State</span>

                                <input type="text">

                            </label>
                        </div>

                    </div>

                    <div class="form-main__item--group">

                        <div class="form-main__item">

                            <span>Country</span>

                            <div class="input__item select-block">

                                <select>
                                    <option>England</option>
                                    <option>France</option>
                                    <option>Turkie</option>
                                </select>

                                <span class="icon-down-arrow"></span>
                            </div>

                        </div>


                        <div class="form-main__item">
                            <label>
                                <span>Zip code</span>

                                <input type="text">

                            </label>
                        </div>

                    </div>


                    <div class="document-block">

                        <ul class="document-list">

                            <li class="document-item document-choose">

                                <span class="document-icon">
                                    <span class="icon-passport"></span>
                                </span>

                                <p>
                                    <span class="document-txt">Document with address registration</span>
                                    <span class="document-reject-txt">Rejected</span>
                                    <span class="document-reject-reason">Rejection reason</span>
                                </p>

                            </li>

                            <li class="document-item document-reject">

                                <span class="document-icon">
                                    <span class="icon-driving-license"></span>
                                </span>

                                <p>
                                    <span class="document-txt">National ID</span>
                                    <span class="document-reject-txt">Rejected</span>
                                    <span class="document-reject-reason">Rejection reason</span>
                                </p>

                            </li>

                            <li class="document-item">

                                <span class="document-icon">
                                    <span class="icon-id-card"></span>
                                </span>

                                <p>
                                <p class="document-txt">Other
                                    <span class="tooltip">
                                            <span class="icon-information"></span>
                                            <span class="tooltiptext">
                                                DOCUMENT REQUIREMENTS:
                                                - Sharp color image
                                                - Without any hidden data
                                                - Dimensions above 600 x 600 pxs
                                                - Format JPG, JPEG
                                            </span>
                                        </span>
                                </p>
                                <span class="document-reject-txt">Rejected</span>
                                <span class="document-reject-reason">Rejection reason</span>
                                </p>

                            </li>

                        </ul>

                    </div>



                    <h5 class="title-sub">Document scan</h5>

                    <div class="form-main__item file-personal">
                        <label>
                            <span>Attach file</span>

                            <div class="display-flex">

                                <div class="input__item file">
                                    <input type="file">
                                    <span class="select-file">Select file</span>

                                </div>

                                <div class="tooltip">
                                    <span class="icon-information"></span>
                                    <span class="tooltiptext">
                                        DOCUMENT REQUIREMENTS:
                                        - Sharp color image
                                        - Without any hidden data
                                        - Dimensions above 600 x 600 pxs
                                        - Format JPG, JPEG
                                    </span>
                                </div>

                            </div>


                        </label>

                        <p class="max-size">Maximum file size is 3 MB</p>
                    </div>


                    <h6 class="title--sm">Politically exposed person status information</h6>

                    <ul class="personal-address-info_list">
                        <li>
                            <div class="display-flex">
                                <p>1. Are you a US citizen, US green-card holder or by any other means US tax resident? </p>
                                <div class="tooltip">
                                    <span class="icon-information"></span>
                                    <span class="tooltiptext tooltiptext--bg">
                                       Individuals who are or have been entrusted with prominent public functions by any country, for example:
                                        - Heads of State or of government,
                                        - senior politicians,
                                        - senior government, judicial or military officials,
                                        - senior executives of state owned corporations,
                                        - important political party officials,
                                        - persons who are or have been entrusted with a prominent function by an international organization, refers to members of senior management or individuals who have been entrusted with equivalent functions, i.e. directors, deputy directors and members of the board or equivalent functions.

                            </span>
                                </div>
                            </div>

                            <div class="radio radio-simple">

                                <div class="display-flex">
                                    <label class="open-specify--uss-resident">
                                        <input type="radio" name="radio-choose_1" class="radio-input-simple">
                                        <span class="radio-sq">Yes</span>
                                    </label>
                                    <label class="close-specify--uss-resident">
                                        <input type="radio" name="radio-choose_1" class="radio-input-simple" checked>
                                        <span class="radio-sq">No</span>
                                    </label>
                                </div>

                                <div class="form-main__item specify--uss-resident">
                                    <label>
                                        <span>Please specify:</span>

                                        <input type="text">

                                    </label>
                                </div>

                            </div>
                        </li>
                        <li>
                            <div class="display-flex">
                                <p>2. Are you family member of a politically exposed person in FATF definition? </p>
                                <div class="tooltip">
                                    <span class="icon-information"></span>
                                    <span class="tooltiptext">
                                        Individuals who are related to a PEP either directly (by consanguinity) or through marriage or similar (civil) forms of partnership.
                                        This category includes spouse or partner of a legal status, own child or child of a spouse or civil partner, parents, grandparents, grandchildren, siblings.
                            </span>
                                </div>
                            </div>

                            <div class="radio radio-simple">

                                <div class="display-flex">
                                    <label class="open-specify--politic">
                                        <input type="radio" name="radio-choose_2" class="radio-input-simple">
                                        <span class="radio-sq">Yes</span>
                                    </label>
                                    <label class="close-specify--politic">
                                        <input type="radio" name="radio-choose_2" class="radio-input-simple" checked>
                                        <span class="radio-sq">No</span>
                                    </label>
                                </div>

                                <div class="form-main__item specify--politic">
                                    <label>
                                        <span>Please specify:</span>

                                        <input type="text">

                                    </label>
                                </div>

                            </div>
                        </li>
                        <li>
                            <div class="display-flex">
                                <p>3. Are you a close associate of a politically exposed person in FATF definition? </p>
                                <div class="tooltip">
                                    <span class="icon-information"></span>
                                    <span class="tooltiptext">
                                        Individuals who are closely connected to a PEP, either socially or professionally.
                                        It includes but not limited to being a shareholder of a commercial company with PEP or being an individual
                                        that owns a company operated in benefit of PEP (when it is known that PEP is a final beneficiary of the company).
                            </span>
                                </div>
                            </div>

                            <div class="radio radio-simple">

                                <div class="display-flex">
                                    <label class="open-specify--partner">
                                        <input type="radio" name="radio-choose_3" class="radio-input-simple">
                                        <span class="radio-sq">Yes</span>
                                    </label>
                                    <label class="close-specify--partner">
                                        <input type="radio" name="radio-choose_3" class="radio-input-simple" checked>
                                        <span class="radio-sq">No</span>
                                    </label>
                                </div>

                                <div class="form-main__item specify--partner">
                                    <label>
                                        <span>Please specify:</span>

                                        <input type="text">

                                    </label>
                                </div>

                            </div>
                        </li>
                    </ul>


                    <div class="personal-address__btn">
                        <button class="btn btn-primary">Save</button>
                    </div>



                </form>
            </div>
        </div>

    </div>




</div>
