

<div id="security-block" class="tab-content security-wr">

    <h5 class="title">
        <span class="icon-shield-2"></span>
        Security
    </h5>

    <ul class="tabs-sec">
        <li class="sec-link active-sec" data-tab="sec-log"><p>Logs</p></li>
        <li class="sec-link" data-tab="sec-device"><p>Device</p></li>
        <li class="sec-link" data-tab="sec-pas"><p>Password reset</p></li>
        <li class="sec-link" data-tab="sec-verif"><p>2-step verification</p></li>
    </ul>


    <div class="main-security">

        <div id="sec-log" class="sec-tab active-sec-tab">
            <h5 class="title-sub">Logs</h5>

            <ul class="logos-list">

                <li>
                    <div class="logos-list__item">
                        <p class="logos-list__item-top">Login <span>16:03</span></p>
                        <div class="logos-list__item-bot">
                            <p>Republic of Georgia</p>
                            <p>ip: 46.49.38.118</p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="logos-list__item">
                        <p class="logos-list__item-top">Login <span>2018-08-10 12:15</span></p>
                        <div class="logos-list__item-bot">
                            <p>Republic of Georgia</p>
                            <p>ip: 46.49.38.118</p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="logos-list__item">
                        <p class="logos-list__item-top">Login <span>16:03</span></p>
                        <div class="logos-list__item-bot">
                            <p>Republic of Georgia</p>
                            <p>ip: 46.49.38.118</p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="logos-list__item">
                        <p class="logos-list__item-top">Login <span>2018-08-10 12:15</span></p>
                        <div class="logos-list__item-bot">
                            <p>Republic of Georgia</p>
                            <p>ip: 46.49.38.118</p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="logos-list__item">
                        <p class="logos-list__item-top">Login <span>16:03</span></p>
                        <div class="logos-list__item-bot">
                            <p>Republic of Georgia</p>
                            <p>ip: 46.49.38.118</p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="logos-list__item">
                        <p class="logos-list__item-top">Login <span>2018-08-10 12:15</span></p>
                        <div class="logos-list__item-bot">
                            <p>Republic of Georgia</p>
                            <p>ip: 46.49.38.118</p>
                        </div>
                    </div>
                </li>

            </ul>
        </div>

        <div id="sec-device" class="sec-tab">
            <h5 class="title-sub">Device</h5>

            <ul class="device-list">
                <li>
                    <div class="device-list__item">
                        <p class="device-list__item--img"><img src="img/device.png" alt="device"></p>
                        <p class="device-list__item--info">
                            Assumed OS
                            <span>Windows</span>
                        </p>
                        <p class="device-list__item--info">
                            IP Address
                            <span>91.233.34.34</span>
                        </p>
                        <p class="device-list__item--info">
                            Last use
                            <span>2018-04-12 22:52:45</span>
                        </p>
                        <p class="device-list__item--info">
                            Browser
                            <span>Chrome</span>
                        </p>

                        <div class="btn btn-gray">Forget device</div>

                    </div>
                </li>
                <li>
                    <div class="device-list__item">
                        <p class="device-list__item--img"><img src="img/device.png" alt="device"></p>
                        <p class="device-list__item--info">
                            Assumed OS
                            <span>Windows</span>
                        </p>
                        <p class="device-list__item--info">
                            IP Address
                            <span>91.233.34.34</span>
                        </p>
                        <p class="device-list__item--info">
                            Last use
                            <span>2018-04-12 22:52:45</span>
                        </p>
                        <p class="device-list__item--info">
                            Browser
                            <span>Chrome</span>
                        </p>

                        <div class="btn btn-gray">Forget device</div>

                    </div>
                </li>
                <li>
                    <div class="device-list__item">
                        <p class="device-list__item--img"><img src="img/device.png" alt="device"></p>
                        <p class="device-list__item--info">
                            Assumed OS
                            <span>Windows</span>
                        </p>
                        <p class="device-list__item--info">
                            IP Address
                            <span>91.233.34.34</span>
                        </p>
                        <p class="device-list__item--info">
                            Last use
                            <span>2018-04-12 22:52:45</span>
                        </p>
                        <p class="device-list__item--info">
                            Browser
                            <span>Chrome</span>
                        </p>

                        <div class="btn btn-gray">Forget device</div>

                    </div>
                </li>
                <li>
                    <div class="device-list__item">
                        <p class="device-list__item--img"><img src="img/device.png" alt="device"></p>
                        <p class="device-list__item--info">
                            Assumed OS
                            <span>Windows</span>
                        </p>
                        <p class="device-list__item--info">
                            IP Address
                            <span>91.233.34.34</span>
                        </p>
                        <p class="device-list__item--info">
                            Last use
                            <span>2018-04-12 22:52:45</span>
                        </p>
                        <p class="device-list__item--info">
                            Browser
                            <span>Chrome</span>
                        </p>

                        <div class="btn btn-gray">Forget device</div>

                    </div>
                </li>
                <li>
                    <div class="device-list__item">
                        <p class="device-list__item--img"><img src="img/device.png" alt="device"></p>
                        <p class="device-list__item--info">
                            Assumed OS
                            <span>Windows</span>
                        </p>
                        <p class="device-list__item--info">
                            IP Address
                            <span>91.233.34.34</span>
                        </p>
                        <p class="device-list__item--info">
                            Last use
                            <span>2018-04-12 22:52:45</span>
                        </p>
                        <p class="device-list__item--info">
                            Browser
                            <span>Chrome</span>
                        </p>

                        <div class="btn btn-gray">Forget device</div>

                    </div>
                </li>
                <li>
                    <div class="device-list__item">
                        <p class="device-list__item--img"><img src="img/device.png" alt="device"></p>
                        <p class="device-list__item--info">
                            Assumed OS
                            <span>Windows</span>
                        </p>
                        <p class="device-list__item--info">
                            IP Address
                            <span>91.233.34.34</span>
                        </p>
                        <p class="device-list__item--info">
                            Last use
                            <span>2018-04-12 22:52:45</span>
                        </p>
                        <p class="device-list__item--info">
                            Browser
                            <span>Chrome</span>
                        </p>

                        <div class="btn btn-gray">Forget device</div>

                    </div>
                </li>
            </ul>
        </div>

        <div id="sec-pas" class="sec-tab sec-password">

            <div class="form-main">

                <form>

                    <div class="form-main__item">
                        <label>
                            <span>Current password</span>

                            <input type="text">

                        </label>
                    </div>

                    <div class="form-main__item">
                        <label>
                            <span>New password</span>

                            <input type="password">

                        </label>
                    </div>

                    <div class="progress-block">

                        <div class="progress">
                            <progress max="100" value="0" id="progress_1"></progress>
                            <!--<div class="progress-value"></div>-->
                            <div class="progress-bg"><div class="progress-bar"></div></div>
                        </div>

                        <div class="progress">
                            <progress max="100" value="0" id="progress_2"></progress>
                            <!--<div class="progress-value"></div>-->
                            <div class="progress-bg"><div class="progress-bar progress-bar-sec"></div></div>
                        </div>

                        <div class="progress">
                            <progress max="100" value="0" id="progress_3"></progress>
                            <!--<div class="progress-value"></div>-->
                            <div class="progress-bg"><div class="progress-bar progress-bar-th"></div></div>
                        </div>


                    </div>
                    
                    <div class="form-main__item">
                        <a href="/">Password strength</a>
                    </div>

                    <div class="form-main__item">
                        <label>
                            <span>New password confirmation</span>

                            <input type="password">

                        </label>
                    </div>

                    <div class="form-bot">
                        <button class="btn btn-primary" type="submit">Change password</button>
                    </div>

                </form>
            </div>

        </div>

        <div id="sec-verif" class="sec-tab sec-verification">

            <h5 class="title-sub">Two-factor authentication</h5>

            <div class="form-main">

                <form>

                    <div class="form-main__item">
                        <label>

                            <input type="checkbox">

                            <span>Two-factor authenfication (2FA) is an additional layer of protection beyond your password.</span>

                        </label>

                        <div class="tooltip">
                            <span class="icon-information"></span>
                            <span class="tooltiptext">Tooltip text</span>
                        </div>


                    </div>

                    <div class="form-bot">
                        <button class="btn btn-primary" type="submit">Save</button>
                    </div>

                </form>
            </div>

        </div>

    </div>




</div>