
<div id="send-request" class="tab-content tabs">


    <div class="tabs__caption--wr">

        <ul class="tabs__caption">
            <li class="btn active"><p><span class="icon-send-mail"></span> Bitcoin send</p></li>
            <li class="btn btc-request"><p><span class="icon-send-mail"></span> Bitcoin request</p></li>
        </ul>

        <p><span>Available balance:</span> BTC 0.00000</p>

    </div>


    <div class="tabs__content active">

        <div class="form-main">

            <form>

                <div class="form-main__item">
                    <label>
                        <span>Receiver's address</span>

                        <input type="text" placeholder="Address">
                    </label>
                </div>

                <div class="form-main__item">
                    <label>
                        <span>Amount</span>

                       <!-- <div class="input__item">
                            <input type="text">
                            <span class="crip">BTC</span>
                        </div>-->

                        <div class="input__item">
                            <input type="text">
                            <span class="crip">
                                <select>
                                    <option>BTC</option>
                                    <option>USD</option>
                                    <option>EUR</option>
                                    <option>GBP</option>
                                </select>

                                <span class="icon-down-arrow"></span>
                            </span>
                        </div>

                    </label>
                </div>

                <div class="form-main__item form-main__item--text">
                    <label>
                        <span>Description</span>

                        <textarea cols="30" rows="10"></textarea>
                    </label>
                </div>

                <div class="form-main__item--cap">
                    <p><span>Commission:</span> 0.00000</p>
                    <p><span>Total:</span> 0.00000</p>
                </div>

                <div class="form-bot">
                    <button class="btn btn-primary" type="submit">Bitcoin send</button>
                </div>

            </form>

        </div>

    </div>

    <div class="tabs__content">

        <div class="form-main">

            <form>

                <div class="form-main__item">
                    <label>
                        <span>Sender</span>

                        <input type="text" placeholder="Enter request receiver’s email or Bitcoin address">
                    </label>
                </div>

                <div class="form-main__item">
                    <label>
                        <span>Amount</span>

                        <!-- <div class="input__item">
                             <input type="text">
                             <span class="crip">BTC</span>
                         </div>-->

                        <div class="input__item">
                            <input type="text">
                            <span class="crip">
                                <select>
                                    <option>BTC</option>
                                    <option>USD</option>
                                    <option>EUR</option>
                                    <option>GBP</option>
                                </select>

                                <span class="icon-down-arrow"></span>
                            </span>
                        </div>

                    </label>
                </div>

                <div class="form-main__item form-main__item--text">
                    <label>
                        <span>Description</span>

                        <textarea cols="30" rows="10"></textarea>
                    </label>
                </div>

                <div class="form-bot">
                    <button class="btn btn-primary" type="submit">Bitcoin request</button>
                </div>

            </form>

        </div>

    </div>

</div>

