
<div id="support" class="tab-content support">

    <div class="form-main">

            <form>

                <div class="form-main__item">
                    <label>
                        <span>Your email</span>

                        <input type="text" placeholder="Your email">
                    </label>
                </div>

                <div class="form-main__item">
                    <label>
                        <span>Subject</span>

                        <input type="text">
                    </label>
                </div>

                <div class="form-main__item form-main__item--text">
                    <label>
                        <span>Type message here</span>

                        <textarea cols="30" rows="10"></textarea>
                    </label>
                </div>

                <div class="form-main__item">

                        <span>Attach file</span>

                        <div class="input__item file">
                            <input type="file" class="inputfile" id="file1">
                            <label for="file1">
                                <span></span>
                                <strong class="select-file">Select file</strong>
                            </label>
                        </div>

                    <p class="max-size">Maximum file size is 3 MB</p>
                </div>

                <div class="form-bot">
                    <button class="btn btn-primary" type="submit">Send message</button>
                </div>

            </form>

        </div>

</div>